
h1{
    font-size: 50px;
    border-left: 5px solid orangered;
    padding: 10px;
    font-family: 'Rasa', serif;
    font-family: 'Yeseva One', cursive;
    
}
.orange_color{
    color: orange;
}
.flexible_container{
    display: flex;
    padding-bottom: 2%;
}
.half_width{
    width: 100%;
    padding-left: 10%;
    
}
.half_width img{
    width: 70%;
    
    
    
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5%;
}
.mission_2022{
    font-size: 40px;
    text-align: center;
}
h2{
    font-family: 'Rasa', serif;
    font-family: 'Yeseva One', cursive;
}

.description_area img{
    width: 40%;
}
.mission{
    
    float: left;
    width: 26%;
    margin: 0 auto;
    background-color: rgb(237, 203, 238);
    
    padding: 25px;
    font-weight: 100;
    border-radius: 5%;
}
.vission{
    float: left;
    width: 26%;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(205, 235, 204);
    font-weight: 100;
    border-radius: 5%;
}
.goals{
    float: right;
    width: 26%;
    margin: 0 auto;
    padding: 25px;
    
    background-color: rgb(231, 224, 211);
    font-weight: 100;
    border-radius: 5%;
}
.description_area{
    width: 80%;
    display: flex;
    margin: 0 auto;
    border: 5px;
}
.third_banner{
    float: left;
    width: 170%;
    font-size: 15px;
    padding-left: 3%;
    padding-right: 15%;
    padding-top: 8%;
     
}
.third_banner_img img{

  width: 300px;
  float: left;
}
.third_banner_img{
    
    padding-top: 5%;
    padding-left: 15%;
}
.forth_banner_img img{

    width: 300px;
    float: right;
  }
.forth_banner_img{
      
      padding-top: 5%;
      padding-right: 15%;
  }
  .forth_banner{
    float: left;
    width: 170%;
    font-size: 15px;
    padding-left: 15%;
    padding-top: 8%;
    padding-right: 10%;
  }
    

