
h1{
    font-size: 50px;
    border-left: 5px solid orangered;
    padding: 10px;
    font-family: 'Rasa', serif;
    font-family: 'Yeseva One', cursive;
    
}
.orange_color{
    color: orange;
}
.flexible_container{
    display: flex;
}
.half_width{
    width: 100%;
    padding: 7%;
}
.half_width img{
    width: 70%;
    
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5%;
}
.mission_2022{
    font-size: 40px;
    text-align: center;
}
h2{
    font-family: 'Rasa', serif;
    font-family: 'Yeseva One', cursive;
}

.description_area img{
    width: 40%;
}
.mission{
    
    float: left;
    width: 26%;
    margin: 0 auto;
    background-color: rgb(237, 203, 238);
    
    padding: 25px;
    font-weight: 100;
    border-radius: 5%;
}
.vission{
    float: left;
    width: 26%;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(205, 235, 204);
    font-weight: 100;
    border-radius: 5%;
}
.goals{
    float: right;
    width: 26%;
    margin: 0 auto;
    padding: 25px;
    
    background-color: rgb(231, 224, 211);
    font-weight: 100;
    border-radius: 5%;
}
.description_area{
    width: 80%;
    display: flex;
    margin: 0 auto;
    border: 5px;
}
.develop{
    display: block;

    
        
    width: 120%;
    font-size: 20px;
        padding-left: 10px;
        
    
}
.develop img{
    max-width: 60%;
padding: 25px;
    
}
    

